SERVER_PORT=8081
DB_URL=jdbc:mysql://mysql:3306/smalltrend?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
DB_USERNAME=smalltrend
DB_PASSWORD=1234
MYSQL_DATABASE=smalltrend
MYSQL_ROOT_PASSWORD=replace_with_a_strong_password
SPRING_JPA_DDL_AUTO=validate
SPRING_SQL_INIT_MODE=never
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRATION=86400000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CORS_ALLOWED_ORIGINS=https://smalltrend.me,https://www.smalltrend.me
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
APP_NOTIFICATIONS_INVENTORY_OUT_OF_STOCK_RECIPIENTS=
APP_NOTIFICATIONS_INVENTORY_OUT_OF_STOCK_DAILY_ENABLED=true
APP_NOTIFICATIONS_INVENTORY_OUT_OF_STOCK_DAILY_CRON=0 05 7 * * *
APP_NOTIFICATIONS_INVENTORY_EXPIRED_BATCH_DAILY_ENABLED=true
APP_NOTIFICATIONS_INVENTORY_EXPIRED_BATCH_DAILY_CRON=0 15 7 * * *
